<h1 class="mb-4">Event List</h1>
<div class="row">
  <div class="col">
    <%= link_to new_admin_event_path, class: "btn btn-primary btn-lg mb-3" do %>
      Create new Event
      <i class="bi bi-plus fw-semibold"></i>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table text-center">
      <thead class="border-2">
      <tr>
          <th scope="col" class="p-3">Title</th>
          <th scope="col" class="p-3">Type</th>
          <th scope="col" class="p-3">Speakers</th>
          <th scope="col" class="p-3">Date</th>
          <th scope="col" class="p-3">Location</th>
          <th scope="col" class="p-3">Description</th>
          <th scope="col" class="p-3">Actions</th>
      </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr class="border-2">
            <td class="p-3"><%= event.title %></td>
            <td class="p-3"><%= event.type %></td>
            <td class="p-3"><%= event.speakers.map(&:name).join(", ") %></td>
            <td class="p-3"><%= event.date.strftime('%B %d, %Y %I:%M%p %:z') %></td>
            <td class="p-3"><%= event.location %></td>
            <td class="p-3"><%= truncate_html(event.description) %></td>
            <td class="p-3">
              <%= link_to 'Edit', edit_admin_event_path(event) %>
              <%= link_to 'Delete', admin_event_path(event), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
