<div class= "flex flex-col justify-center items-center px-4">
  <%= image_tag "logo.svg", class: "w-16 h-16 md:w-32 md:h-32 mx-auto", alt: "WNB.rb" %>
  <h1 class="text-lg md:text-3xl font-bold mb-8 text-center mt-2">Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mb-12" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 w-full shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-pink-default focus:ring-opacity-40" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mb-4">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
      <%= f.password_field :password, autocomplete: "new-password", class: "mt-2 w-full shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-pink-default focus:ring-opacity-40" %>
      <% if @minimum_password_length %>
        <br>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field mb-4">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-2 w-full shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-pink-default focus:ring-opacity-40" %>
    </div>

    <div class="field mb-4">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "mt-2 w-full shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-pink-default focus:ring-opacity-40" %>
    </div>

    <div class="actions">
      <%= f.submit "Update",
        class: "mx-auto py-2 px-10
        rounded-sm flex items-center
        justify-center
        text-base
        transition-all
        hover:cursor-pointer
        hover:outline-none
        active:outline-none
        text-white
        border
        border-transparent
        bg-wnbrb-orange-default
        hover:text-wnbrb-orange-default
        hover:border-wnbrb-orange-default
        hover:bg-wnbrb-orange-light" %>
    </div>
  <% end %>
  <div class="text-center">
    <div class="flex mb-4">
      <p>Unhappy?</p>
      <%= button_to "Cancel my account", registration_path(resource_name), class: "underline whitespace-nowrap font-medium hover:text-red-400 ml-4", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
    <%= link_to "Back", :back, class: "underline whitespace-nowrap font-medium hover:text-red-400" %>
  </div>
</div>
